./code/free_space
./code/nohup.out
./code/utils/__pycache__
./mode/__pycache__
./params
./model/nohup.out
./code/ex copy2.ipynb
./code/ex copy.ipynb
./code/test.py
./model/nohup.out
./code/output_log
./code/en.json
./model/tokenizer_vocab